.btn-orange {
    background-color: darkorange;
}

.bg-steel-blue {
    background-color: #14436a;
}

.outer-container {
    padding-top: 96px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
    min-height: calc(100vh - 108px);
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 16px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    padding: 2rem 1.25rem;
}